.hoverDropZone {
  height: 35vw;
  width: 55vh;
  z-index: 1002;
  background: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
  border-radius: 15px;
  border: 10px solid #fff;
  // display: none;
  pointer-events: auto;
  visibility: hidden;
  font-size: 62px;
  color: #fff;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  line-height: 35vh;
  box-shadow: 0 0 65px 10px #000;

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.dropZoneCloseBtn{
  z-index: 1;
  color: #fff;
  width: 37px;
  height: 37px;
  line-height: 37px;
  margin: 10px; 
  font-size: 22px;
  background-image: linear-gradient( 145deg, #BC78EC 10%, #3B2667 100%);
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
  border: none;
}

.dropZoneCloseBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  transition: 0.25s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  z-index: 1;
  color: #fff;
  width: 37px;
  height: 37px;
  background-image: linear-gradient( 145deg, #BC78EC 10%, #3B2667 100%);
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
  border: none;
}

.btn-floating:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  transition: 0.25s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}