@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: transparent;
}

#bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-toast {
  background: rgba(70, 51, 93, 0.78) !important;
  color: #fff !important;
  font-size: 1.4em;
  font-family: 'Francois One', Tahoma, Sans-Serif !important;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px !important;
}

.info-toast > div {
  width: 100% !important;
  margin: auto 0 !important;
  text-align: center !important;
}

.progress-toast {
  background: #fff !important;
}

/* Octocat */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
