@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: transparent;
}

#patternId {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  font-size: 16px;
}

.info-toast {
  background: rgba(70, 51, 93, 0.78) !important;
  color: #fff !important;
  font-size: 1.4em;
  font-family: 'Francois One', Tahoma, Sans-Serif !important;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px !important;
}

.info-toast > div {
  width: 100% !important;
  margin: auto 0 !important;
  text-align: center !important;
}

.playlist-container {
  display: inline;
  z-index: 1001;
}

.progress-toast {
  background: #fff !important;
}

.container {
  margin: 0 auto;
  margin-top: 5%;
  display: grid;
  width: 880px;
  height: auto;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 200px 5fr 1fr 200px;
  grid-gap: 1rem;
  z-index: 1;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background: rgba(156, 39, 176, 0.5);
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  z-index: 200;
  display: inline-block;
  position: relative;
  align-content: space-between;
  background: rgba(118, 81, 199, 0.6);
}

.player {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  z-index: 202;
  min-height: 272px;
  background-image: #000;
}

.footer {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  z-index: 200;
  justify-content: left !important;
  padding: 0 10px;
  margin-bottom: auto;
  min-height: 200px;
  display: inherit;
  background: rgba(250, 215, 161, 0.7);
}

.item {
  box-shadow: 0 0 20px 5px rgba(103, 58, 183, 0.2);
  color: #ffffff;
  border-radius: 15px;
  border: 5px solid rgba(155, 39, 176, 0.15);
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: fit-content(100%);
    grid-template-rows: 200px 1fr 1fr 1fr 300px;
    width: unset;
  }
  .header {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
  .player {
    grid-row: 2 / 4;
    grid-column: 1 / 1;
  }
  .sidebar {
    grid-row: 4 / 5;
    grid-column: 1 / 1;
  }
  .item.sidebar {
    justify-content: space-around;
  }
  .btn-wrapper {
    position: relative !important;
    bottom: unset !important;
    flex-direction: column;
    justify-content: center !important;
  }
  ul.video-options-btn li {
    margin: 15px !important;
  }
  .playlist {
    height: fit-content;
    justify-content: center !important;
  }
  .playlist-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .footer {
    grid-row: 5 / 6;
    grid-column: 1 / 1;
  }
  .item {
    width: 90%;
    margin: 0 auto;
  }
}

/* Octocat */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
