.Header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-size: 56px;
    color: #fff;
    z-index: 100;
}

.youtube-logo {
  width: 180px;
  height: 180px;
  display: inline;
}

.header-text {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: inline;
  height: 200px; */
  line-height: 200px;
  margin: auto 0;
}