
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400&display=swap');
@import url('../css/font-awesome.min.css');
@import '../css/variables';

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: absolute;
  bottom: 15px;
}

button {
  font-weight: 700 !important;
  border: none;
  outline: none;
}

.btn-play {
  background: linear-gradient(135deg, #ff6fd8 0%, #512ed3 50%);
}

.btn-clear {
  background: linear-gradient(135deg, #ee9ae5 10%, #5961f9 50%);
}

.fancy-button:hover {
  cursor: pointer;
}

.fancy-button {
  margin: 5px;
  // font-family: 'Luckiest Guy', Tahoma, Sans-Serif;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400 !important;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 34px;
  color: #ffffff;
  position: relative;
  height: 50px;
  border-radius: 2em;
  background-size: 200% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:before {
    content: '';
    background-color: $color-light;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.0001, 0.0001);
    z-index: -1;
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: click_effect 0.8s ease-out;
    }
  }
}

@keyframes click_effect {
  50% {
    transform: scale(2, 2);
    opacity: 0;
  }
  99% {
    transform: scale(0.0001, 0.0001);
    opacity: 0;
  }
  100% {
    transform: scale(0.0001, 0.0001);
    opacity: 1;
  }
}

.fancy-button span {
  padding: 15px 15px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.btn-play:hover,
.btn-clear:hover {
  background-position: 100% 20%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

ul.ks-cboxtags {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  margin-top: 15px;
}
ul.ks-cboxtags li {
  outline: none;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
ul.ks-cboxtags li label {
  display: flex;
  width: 70%;
  white-space: nowrap;
  margin: 3px 0px;
  padding: 10px 32px;
  background-color: $color-light;
  color: $color-dark;
  font-size: 1.1rem;
  font-family: "Permanent Marker", sans-serif;
  border-radius: 25px;
  user-select: none;
  outline: none;
  justify-items: center;
  align-items: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 1.5rem;
  padding: 4px 8px 4px 2px;
  content: '\f10c';
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type='checkbox']:checked + label::before {
  content: '\f058';
}

ul.ks-cboxtags li input[type='checkbox']:checked + label {
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
  color: #fff;
}

ul.ks-cboxtags li input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}
