@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PT Sans Narrow", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.granim {
  z-index: -100;
  height: 100vh;
}

.container {
  margin: 0 auto;
  margin-top: 5%;
  display: grid;
  width: 850px;
  height: 750px;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 200px 5fr 1fr 200px;
  grid-gap: 1rem;
  z-index: 1;
  /* justify-content: space-around;
  align-content: space-evenly; */
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  z-index: 200;
}

.content-1 {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  z-index: 200;
}

.content-2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  z-index: 200;
}

.content-3 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  z-index: 200;
}

.footer {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  z-index: 200;
  justify-content: left !important;
  padding: 0 10px;
}


/* PLACEHOLDER COLORS */

.item {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  border-radius: 15px;
  border: 6px solid rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.content-1 {
  outline: 5px dashed rgba(255,255,255,0.8);
  outline-offset: -17px;
  -moz-outline-radius: 15px;
}

.header {
  background-color: #1EAAFC;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%)
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
}

.footer {
  background-color: #6C52D9;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}